<%layout('layouts/boilerplate')%>

    <!-- <h1>Add a campground</h1>
    
    <form action="/campground" method="POST">
        <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="campground[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]">
    </div>
    <button>Submit</button>
    </form>
      <a href="/campground"> <button >back</button> </a> -->

      <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campground" method="POST" novalidate class="validation-form" enctype="multipart/form-data">
                <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
            </div>
            <!-- <input type="file" name="image" id="image" multiple> -->

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
            </div> -->
            <div class="input-group mb-3">
                <label class="form-label" for="price">Campground Price</label>
               <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0" aria-label="Amount (to the nearest dollar)" aria-describedby="price-label " required>
                <span class="input-group-text">.00</span>
               </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
            </div>
            <div class="mb-3 custom-file">
                <label for="image" class="form-label ">Uplaod Images</label>
                <input class="form-control " name="image" type="file" id="image" multiple>
               
                <span class="form-label custom-file-label"></span>
                
              </div>
            <button class="btn btn-success mb-3">Add Campground</button>
            </form> 
            <a href="/campground" class="btn btn-primary mb-3">Back</a>
        </div>
      </div>
